* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  color: #8bacda;
  background-color: #0d192b;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background-color: #14253d;
  width: 35rem;
  border-radius: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2.4rem;
}

.img-container {
  position: relative;
  margin-bottom: 2.4rem;
  border-radius: 0.8rem;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00fff8;
  opacity: 0;
  transition: opacity 0.3s;
}

.img-container:hover .overlay {
  opacity: 0.3;
  cursor: pointer;
}

.equil {
  width: 30rem;
  border-radius: 0.8rem;
}

.img-container svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.img-container:hover svg {
  opacity: 1;
}

.heading {
  display: inline-block;
  font-weight: 600;
  font-size: 2.2rem;

  margin-bottom: 1.6rem;
}

.link:link,
.link:visited {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #00fff8;
  cursor: pointer;
}

.description {
  margin-bottom: 2.4rem;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.small-container {
  display: flex;
  gap: 0.7rem;
}

.eth {
  font-weight: 600;
  font-size: 1.6rem;
  color: #00fff8;
}

.time {
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

hr {
  height: 0.1rem;
  background-color: #2e405a;
  border: none;

  margin-bottom: 1.6rem;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.avatar {
  width: 3.3rem;
  border-radius: 50%;
  border: 0.1rem solid #ffffff;
}

.text {
  font-weight: 400;
  font-size: 1.6rem;
}

/**************************/
/* Responsive for mobile */
/**************************/

@media (max-width: 24em) {
  .heading {
    margin-bottom: 1.2rem;
  }

  .description {
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }

  .time {
    margin-bottom: 1.6rem;
  }
}
